.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h1{
        
        width: 257px;
        height: 45px;
        top: 50px;
        left: 110px;
        gap: 0px;
        opacity: 0px;    

        font-family: Poppins;
        font-size: 30px;
        font-weight: 500;
        line-height: 45px;
        text-align: left;

    }
    

    .opciones{
        display:flex;
        align-items: center;
        margin-left: 85vh;
        p{
            width: 100vh;
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
            
            margin-left: 10px;
            
        }
    
        .icon{
            width: 20px;
            height: 20px;
            top: 62px;
            left: 100px;
            gap: 0px;
            opacity: 0px;
            margin-right: 1.5vh;
            cursor: pointer;
        }
    }
    
}