
<section class="contenedor">
    <section class="titulo">
        <h4>Plantas</h4>
        <button class="crear" (click)="mostrarCrear(true)">+ Crear nueva planta</button>
       
    </section>
    <hr>
    <section class="tabla">
        <table border="0">
            <thead>
                <tr>
                    <th>País</th>
                    <th>Nombre de la planta</th>
                    <th>Lecturas</th>
                    <th>Alertas medias</th>
                    <th>Alertas rojas</th>
                    <th>Acciones</th>
                </tr>
                    
                    @for(planta of plantas; track planta.getId; let index = $index){
                        <tr>
                            <td><div class="pais texto"><img [src]="planta.getBandera" alt="bandera" class="bandera"><p>{{planta.getPais}}</p></div></td>
                            <td><p class="nombre texto">{{planta.getNombre}}</p></td>
                            <td><p class="ok texto">{{lecturasOk[index]}}</p></td>
                            <td><p class="medio texto">{{lecturasMedias[index]}}</p></td>
                            <td><p class="rojo texto">{{lecturasRojas[index]}}</p></td><div class="posicion">
                            <td class="puntitos" (click)="mostrarOpcion(planta.getId)"><img src="../../assets/iconos/puntos.png"  alt="opciones" class="puntos"></td>
                            @if(opcionesVisible[index]){
                                <div class="menu">
                                    <ul>
                                        <li (click)="mostrarModificar(index, true)">Modificar</li>
                                        <li (click)="eliminarPlanta(index)">Eliminar</li>
                                    </ul>
                                </div>  
                                }
                            </div>
                        </tr>
                    }
               
            </thead>
        </table>
    </section>
</section>
@if(crearHabilitado){
    <div class="body">
    <div class="componente">
        <app-crear-planta (cancelar)="mostrarCrear($event)"></app-crear-planta>
    </div>
</div>    
}


@if(modificarHabilitado){
    <div class="body">
 <div class="componente">
     <app-editar-planta [idPlanta]="idPlanta" (mostrar)="mostrarModificar(0,$event)"></app-editar-planta>
 </div>
</div>
}