<section class="contenedor">
    <section class="titulo">
        <h4>Plantas</h4>
        <button class="crear">+ Crear nueva planta</button>
    </section>
    <hr>
    <section class="tabla">
        <table border="0">
            <thead>
                <tr>
                    <th>País</th>
                    <th>Nombre de la planta</th>
                    <th>Lecturas</th>
                    <th>Alertas medias</th>
                    <th>Alertas rojas</th>
                    <th>Acciones</th>
                </tr>
                    <tr>
                        <td><div class="pais"><img src="https://flagcdn.com/w320/ar.png" alt="bandera" class="bandera"><p class="pais texto">Argentina</p></div></td>
                        <td><p class="nombre texto">Pepsi</p></td>
                        <td><p class="ok texto">200</p></td>
                        <td><p class="medio texto">200</p></td>
                        <td><p class="rojo texto">200</p></td>
                        <td class="puntitos"><img src="../../assets/iconos/puntos.png" alt="opciones" class="puntos"></td>
                    </tr>
                    <tr>
                        <td><div class="pais texto"><img src="https://flagcdn.com/w320/ar.png" alt="bandera" class="bandera"><p>Brazil</p></div></td>
                        <td><p class="nombre texto">Pepsi</p></td>
                        <td><p class="ok texto">200</p></td>
                        <td><p class="medio texto">200</p></td>
                        <td><p class="rojo texto">200</p></td>
                        <td class="puntitos"><img src="../../assets/iconos/puntos.png" (click)="mostrarOpcion(1)" alt="opciones" class="puntos">
                        @if(opcionesVisible[1]){
                        <div class="menu">
                            <ul>
                                <li>Modificar</li>
                                <li>Eliminar</li>
                            </ul>
                        </div>
                            
                        }
                        </td>
                    </tr>
                    <tr>
                        <td><div class="pais texto"><img src="https://flagcdn.com/w320/ar.png" alt="bandera" class="bandera"><p>Venezuela</p></div></td>
                        <td><p class="nombre texto">Pepsi</p></td>
                        <td><p class="ok texto">200</p></td>
                        <td><p class="medio texto">200</p></td>
                        <td><p class="rojo texto">200</p></td>
                        <td class="puntitos"><img src="../../assets/iconos/puntos.png" alt="opciones" class="puntos"></td>
                    </tr>
                    <tr>
                        <td><div class="pais texto"><img src="https://flagcdn.com/w320/ar.png" alt="bandera" class="bandera"><p>España</p></div></td>
                        <td><p class="nombre texto">Pepsi</p></td>
                        <td><p class="ok texto" >200</p></td>
                        <td><p class="medio texto">200</p></td>
                        <td><p class="rojo texto">200</p></td>
                        <td class="puntitos"><img src="../../assets/iconos/puntos.png" alt="opciones" class="puntos"></td>
                    </tr>
                    @for(planta of plantas; track planta.getId; let index = $index){
                        <tr>
                            <td><img src="planta.getBandera" alt="bandera"><p>{{planta.getPais}}</p></td>
                            <td><p>{{planta.getNombre}}</p></td>
                            <td><p>{{planta.getLecturas.length}}</p></td>
                            <td><p>{{lecturasMedias[index]}}</p></td>
                            <td><p>{{lecturasRojas[index]}}</p></td>
                            <td><img src="../../assets/iconos/puntos.png" alt="opciones"></td>
                        </tr>
                    }
               
            </thead>
        </table>
    </section>
</section>
