
.contenedor{
    display: flex;
    background-color: #E9F1F4;
    overflow: hidden;
    .sidenav{
        z-index: 1000;
    }
    .informacion{
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-top: 5vh;
        margin-left: 3vh;
        
    }
}