<section class="sidenav">
    <img src="../../assets/iconos/montañas.png" alt="Logo" class="logo">

    <section class="opciones">
        <ul>
            <li><img src="../../assets/iconos/planetas.png" alt="Plantas Mundiales" class="planeta"></li>
            <li><img src="../../assets/iconos/camara.png" alt="Video" class="camara"></li>
            <li><img src="../../assets/iconos/señalWifi.png" alt="Sensores" class="sensor"></li>
            <li><img src="../../assets/iconos/simboloPlantaNuclerar.png" alt="Plantas" class="planta"></li>
            <li><img src="../../assets/iconos/simboloDesloguearse.png" alt="Desloguearse" class="log"></li>
        </ul>
    </section>
</section>
